<nav class="navbar navbar-expand-md navbar-primary bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MEAN Auth App</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"routerLink="/">Home</a></li>
      </ul>
      <div class="form-inline">
        <li class="nav-item"><a class="btn" routerLinkActive="active" routerLink="/login">Login</a></li>
        <li class="nav-item"><a class="btn" routerLinkActive="active" routerLink="/register">Register</a></li>
      </div>
    </div>
  </div>
</nav>